<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/"><span class="navbar-brand" href="#">Basic Rails APP</span></a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'Games', games_path %></li>
      </ul>
    </div>
  </div>
</nav>
